*~
cmd/zoekt-index/zoekt-index
cmd/zoekt-webserver/zoekt-webserver
cmd/zoekt-mirror-github/zoekt-mirror-github
cmd/zoekt-server/zoekt-server
cmd/zoekt-git-index/zoekt-git-index
.envrc
.idea
.direnv
bazel-bin
bazel-out
bazel-testlogs
bazel-zoekt

.DS_STORE
zoekt
zoekt-index
zoekt-webserver
zoekt-mirror-github
zoekt-server
zoekt-git-index
.devenv
.zoekt
# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
